input:focus {
  outline: none;
}
.clearfloat {
  clear: both;
}

body,li,ul,div {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  min-width: 1226px;
}

/*top两横栏*/
#TOP {
  height: 120px;
  background-color: pink;
}
#Top {
  background-color: black;
}
#top {
  background-color: black;
  height: 40px;
  width: 1226px;
  margin: auto;
}
#top li:hover {
  color: white;
}
#topleft li,#topright li {
  float: left;
  background-color: black;
  color: #b0b0b0;
  font-size: 12px;
  font-family: "微软 雅黑";
  line-height: 40px;
  margin-right: 15px;
}
#shoppingcart {
  width: 80px;
}
#shoppingcart:hover {
  background-color: pink;
}
#topright {
  float: right;
}
#topleft {
  float: left;
}


/*搜索框及logo导航*/
#logomenu {
  height: 50px;
  width: 1226px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#logomenu ul {
  float: left;
}
#logomenu li {
  float: left;
  line-height: 50px;
  font-size: 15px;
  margin-right: 15px;
}
#logomenu li:hover {
  color: rgba(255, 51, 0, 0.79);
}
#logo {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 150px;
}
#boxbutton {
	float: right;
}
#box {
  width: 250px;
  height: 45px;
  float: left;
  padding-left: 10px;
}
#button {
  width: 50px;
  height: 50px;
  float: left;
}


/*导向栏大框*/
#article1 {
  width: 1226px;
  height: 450px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.spellImg {
	display: block;
	float: left;
	width: 1226px;
	height: 450px;
}
#spellImgBox {
  position:absolute;
  width: 6130px;
  left: 0px;
  transition: 1s;
}

#article1left {
  float: left;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
}
#article1left ul {
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: black;
}

#article1left li {
  height: 40px;
  line-height: 40px;
  color: white;
  padding-left: 30px;
}

#article1left li:hover {
  background-color: orange;
}

#rightbottombutton {
	width: 150px;
	height: 30px;
	position: absolute;
	right: 30px;
	bottom: 0px;
}
#rightbottombutton li {
  text-decoration: none;
  color: black;
  float: left;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
span {
  width: 30px;
  height: 450px;
  line-height: 450px;
  font-size: 30px;
  background-color: white;
  opacity: 0.3;
}
#spanL{
  left: 300px;
  position: absolute;
}
#spanR {
  right: 0px;
  position: absolute;
}


#Picture {
	width: 1226px;
	height: 200px;
	margin: auto;
	margin-top: 30px;
}
#pleft {
	width: 300px;
	height: 200px;
	margin-right: 2px;
	float: left;
	background-color: grey;
}
.sub_p {
	width: 98px;
	height: 98px;
	line-height: 100px;
	text-align: center;
	float: left;
	border:white solid 1px;
}
.sub_p:nth-of-type(2n+0) {
	background-color: green;
	opacity: 0.8;
}
.picture {
	width: 300px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	margin-left: 8px;
	float:left;
	background-color: pink;
}

/*明星单品*/
#starproduct {
	width: 1226px;
	margin: auto;
}
.staritem {
	width: 238px;
	height: 350px;
	margin-right: 9px;
	background-color: pink;
	border-top: grey solid 2px;
	float: left;
}
.staritem:nth-of-type(5n+0) {
	margin-right: 0px;
}


/*家电*/
#homeAppliances {
	width: 1226px;
	margin: auto;
	position: relative;
}
#homeAppliances h1 {
  float: left;
}
#homeAppliances ul {
  float: right;
  line-height: 84.48px;
}
#homeAppliances li {
	float: left;
	margin-left: 20px;
	font-size: 20px;
}
#left_product {
	width: 238px;
	height: 720px;
	background-color: grey;
	float: left;
}
.product {
	width: 238px;
	height: 350px;
	margin-left: 9px;
	background-color: pink;
	float: left;
}
.mtop {
	margin-top: 20px;
}


#test {
  height: 400px;
  background-color: black;
  margin-top: 20px;
}